<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection" version="9.0.2" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Mvc" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.NVelocity" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Web" version="9.0.2" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Feature.Composites" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Abstractions" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Caching" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Editing" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Multisite" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.PlaceholderSettings" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.Presentation" version="1.8.1" targetFramework="net462" />
  <package id="SXA90.Sitecore.XA.Foundation.SitecoreExtensions" version="1.8.1" targetFramework="net462" />
</packages>